<div *ngIf="groupName">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center">
                {{ groupName }}
            </h1>
        </div>
    </div>
</div>
<div *ngIf="match" @flyInOut>
    <div class="row">
        <div class="col-12 col-md-6">
            <mat-card class="compare-item" (click)="matchAWon()" style="height: 60vh">
                <mat-card-title style="padding-bottom: 1rem;">{{ match.itemA.name }}</mat-card-title>
                <cl-image mat-card-image *ngIf="match.itemA.image" [public-id]="match.itemA.image"></cl-image>
                <img mat-card-image *ngIf="!match.itemA.image" src="assets/images/default-question-mark-100.png">
            </mat-card>
        </div>
        <div class="col-12 col-md-6">
            <mat-card class="compare-item" (click)="matchBWon()" style="height: 60vh">
                <mat-card-title style="padding-bottom: 1rem;">{{ match.itemB.name }}</mat-card-title>
                <cl-image mat-card-image *ngIf="match.itemB.image" [public-id]="match.itemB.image"></cl-image>
                <img mat-card-image *ngIf="!match.itemB.image" src="assets/images/default-question-mark-100.png">
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card class="compare-item" (click)="noDecision()">
                <mat-card-title>I can't decide</mat-card-title>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="margin: 1rem;">
            <button mat-raised-button color="primary" [routerLink]="'/'">
                <mat-icon>check</mat-icon>
                <span>I'm all finished ranking!</span>
            </button>
        </div>
    </div>
</div>