<mat-card>
    <mat-card-title>
        Add Ranking list
    </mat-card-title>
    <mat-card-content>
        <div [formGroup]="formGroup">
            <mat-form-field>
                <input matInput type="text" placeholder="Ranking List Name" formControlName="name">
            </mat-form-field>
            <div formArrayName="rankedItems" *ngFor="let item of getRankedItems().controls; let i = index">
                <div [formGroupName]="i">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Item Name" formControlName="name">
                    </mat-form-field>
                    <button mat-button color="warn" (click)="removeItem(i)">Delete Item</button>
                </div>
            </div>
            <button mat-raised-button (click)="addItem()">Add Item</button>
            <br/>
            <br/>
            <button mat-raised-button color="primary" (click)="saveGroup()">Save Group</button>

        </div>
    </mat-card-content>
</mat-card>
