<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/">
            <mat-icon>assessment</mat-icon>
            <span>Rank it</span>
        </button>
        <span class="spacer">
            <a mat-button href="http://www.angularattack.com/entries/336-lowered-expectations/vote">
                <span>Built with </span>
                <mat-icon class="red-icon">favorite</mat-icon>
                <span> For Angular Attack!</span>
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container" style="padding-top: 1rem;">
    <router-outlet></router-outlet>
</div>

